div {
  background-color: yellowgreen;
  border: 10px solid black;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 20px;

  animation-name: myAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-direction:alternate-reverse;
}

@keyframes myAnimation {
  from {
    transform: rotate(0deg);
    font-size: 30px;
    transition: background-color 0s ease 1s;
    background-color: blueviolet;
  }
  
  to {
    transform: rotate(360deg);
    font-size: 60px;
    transition: background-color 0s ease 1s;
    background-color: rgb(61, 21, 98);
  }
}
