* {
    margin: 0;
    padding: 0;
    background-color:aquamarine;    
}

.box{
    font-weight: bold;
    text-decoration: solid underline black;
    color: greenyellow;
    text-align: center;
    background-color: blueviolet;
    border: solid 1px black;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    display: inline-block;  
    /* inline not easy to set height and width     */
    margin: 10px;
    padding: 20px;
}

#box2{
    display: none;
    /* visibility: hidden  space wil be there*/ 
}


span{
    color: greenyellow;
    text-align: center;    
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    background-color: blue;
    border: solid 1px black;
    border-radius: 10px;
}